.box {
    background: linear-gradient(90deg, var(--skeleton-light) 25%, var(--skeleton-mid) 37%, var(--skeleton-light) 63%);
    background-size: 400% 100%;
    animation: shine 1.4s ease infinite;
    border-radius: 8px
}

@keyframes shine {
    to {
        background-position: 100% 0
    }
}
